<div *ngIf="isStarted" class="row">
  <div class="col-md-4">
    <md-list>
      <md-list-item *ngFor="let player of players; let idx=index" [attr.active]="idx===activeIdx">
        <md-chip-list><md-chip>{{player.name}}</md-chip></md-chip-list>
        <span>Sets: {{player.score.sets}} | Legs: {{player.score.legs}} | Score: {{player.score.current}}</span>
      </md-list-item>
    </md-list>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-6 center-block">
    <darts-table (throw)="onThrow($event)"></darts-table>
  </div>
  <div class="col-md-1"></div>
</div>
<div *ngIf="!isStarted" class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <md-tab-group dynamicHeight="true">
      <md-tab label="Add players">
        <player-extendable-list></player-extendable-list>
      </md-tab>
      <md-tab *ngIf="settings" label="Set game parameters">
        <form>
          <md-slide-toggle [(ngModel)]="isDoubleOut" name="is-double-out"
            class="full-width" style="padding 1em">
            Double required to win?
          </md-slide-toggle>
          <md-select [(ngModel)]="initialScore" placeholder="Select score" name="initial-score" class="full-width">
            <md-option *ngFor="let score of scoreOptions" [value]="score.value">
              {{score.viewValue}}
            </md-option>
          </md-select>
          <md-form-field class="full-width">
            <input mdInput type="number" name="legs-to-win" [(ngModel)]="legsToWin" placeholder="Number of legs to win">
          </md-form-field>
          <md-form-field class="full-width">
            <input mdInput type="number" name="sets-to-win" [(ngModel)]="setsToWin" placeholder="Number of sets to win">
          </md-form-field>
        </form>
      </md-tab>
    </md-tab-group>
    <button md-raised-button type="button" color="primary" (click)="onStart()">Start</button>
  </div>
  <div class="col-md-2"></div>
</div>
