<div *ngIf="isStarted" class="row">
  <div class="col-md-4">
    <md-list>
      <md-list-item *ngFor="let player of players; let idx=index" [attr.active]="idx===activeIdx">
        <md-chip-list><md-chip>{{player.name}}</md-chip></md-chip-list>
        <cricket-score [score]="player.score"></cricket-score>
      </md-list-item>
    </md-list>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-6 center-block">
    <darts-table (throw)="onThrow($event)"></darts-table>
  </div>
  <div class="col-md-1"></div>
</div>
<div *ngIf="!isStarted" class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <md-tab-group dynamicHeight="true">
      <md-tab label="Add players">
        <player-extendable-list></player-extendable-list>
      </md-tab>
      <md-tab *ngIf="settings" label="Set game parameters">
      </md-tab>
    </md-tab-group>
    <button md-raised-button type="button" color="primary" (click)="onStart()">Start</button>
  </div>
  <div class="col-md-2"></div>
</div>
