<div id='miss' class="frame">
  <span class='text'>20</span>
  <span class='text r-18'>5</span>
  <span class='text r-36'>12</span>
  <span class='text r-54'>9</span>
  <span class='text r-72'>14</span>
  <span class='text r-90'>11</span>
  <span class='text r-108'>8</span>
  <span class='text r-126'>16</span>
  <span class='text r-144'>7</span>
  <span class='text r-162'>19</span>
  <span class='text r18'>1</span>
  <span class='text r36'>18</span>
  <span class='text r54'>4</span>
  <span class='text r72'>13</span>
  <span class='text r90'>6</span>
  <span class='text r108'>10</span>
  <span class='text r126'>15</span>
  <span class='text r144'>2</span>
  <span class='text r162'>17</span>
  <span class='text r180'>3</span>
  <div class='table'>
    <div id='s25' (click)="onClick($event)" class='bull green'></div>
    <div id='d25' (click)="onClick($event)" class='bullseye red'></div>
    <div class='sector r-171'>
      <div id='d19' (click)="onClick($event)" class='double green'></div>
      <div id='s19' (click)="onClick($event)" class='outer white'></div>
      <div id='t19' (click)="onClick($event)" class='triple green'></div>
      <div id='s19' (click)="onClick($event)" class='inner white'></div>
    </div>
    <div class='sector r-153'>
      <div id='d7' (click)="onClick($event)" class='double red'></div>
      <div id='s7' (click)="onClick($event)" class='outer black'></div>
      <div id='t7' (click)="onClick($event)" class='triple red'></div>
      <div id='s7' (click)="onClick($event)" class='inner black'></div>
    </div>
    <div class='sector r-135'>
      <div id='d16' (click)="onClick($event)" class='double green'></div>
      <div id='s16' (click)="onClick($event)" class='outer white'></div>
      <div id='t16' (click)="onClick($event)" class='triple green'></div>
      <div id='s16' (click)="onClick($event)" class='inner white'></div>
    </div>
    <div class='sector r-117'>
      <div id='d8' (click)="onClick($event)" class='double red'></div>
      <div id='s8' (click)="onClick($event)" class='outer black'></div>
      <div id='t8' (click)="onClick($event)" class='triple red'></div>
      <div id='s8' (click)="onClick($event)" class='inner black'></div>
    </div>
    <div class='sector r-99'>
      <div id='d11' (click)="onClick($event)" class='double green'></div>
      <div id='s11' (click)="onClick($event)" class='outer white'></div>
      <div id='t11' (click)="onClick($event)" class='triple green'></div>
      <div id='s11' (click)="onClick($event)" class='inner white'></div>
    </div>
    <div class='sector r-81'>
      <div id='d14' (click)="onClick($event)" class='double red'></div>
      <div id='s14' (click)="onClick($event)" class='outer black'></div>
      <div id='t14' (click)="onClick($event)" class='triple red'></div>
      <div id='s14' (click)="onClick($event)" class='inner black'></div>
    </div>
    <div class='sector r-63'>
      <div id='d9' (click)="onClick($event)" class='double green'></div>
      <div id='s9' (click)="onClick($event)" class='outer white'></div>
      <div id='t9' (click)="onClick($event)" class='triple green'></div>
      <div id='s9' (click)="onClick($event)" class='inner white'></div>
    </div>
    <div class='sector r-45'>
      <div id='d12' (click)="onClick($event)" class='double red'></div>
      <div id='s12' (click)="onClick($event)" class='outer black'></div>
      <div id='t12' (click)="onClick($event)" class='triple red'></div>
      <div id='s12' (click)="onClick($event)" class='inner black'></div>
    </div>
    <div class='sector r-27'>
      <div id='d5' (click)="onClick($event)" class='double green'></div>
      <div id='s5' (click)="onClick($event)" class='outer white'></div>
      <div id='t5' (click)="onClick($event)" class='triple green'></div>
      <div id='s5' (click)="onClick($event)" class='inner white'></div>
    </div>
    <div class='sector r-9'>
      <div id='d20' (click)="onClick($event)" class='double red'></div>
      <div id='s20' (click)="onClick($event)" class='outer black'></div>
      <div id='t20' (click)="onClick($event)" class='triple red'></div>
      <div id='s20' (click)="onClick($event)" class='inner black'></div>
    </div>
    <div class='sector r9'>
      <div id='d1' (click)="onClick($event)" class='double green'></div>
      <div id='s1' (click)="onClick($event)" class='outer white'></div>
      <div id='t1' (click)="onClick($event)" class='triple green'></div>
      <div id='s1' (click)="onClick($event)" class='inner white'></div>
    </div>
    <div class='sector r27'>
      <div id='d18' (click)="onClick($event)" class='double red'></div>
      <div id='s18' (click)="onClick($event)" class='outer black'></div>
      <div id='t18' (click)="onClick($event)" class='triple red'></div>
      <div id='s18' (click)="onClick($event)" class='inner black'></div>
    </div>
    <div class='sector r45'>
      <div id='d4' (click)="onClick($event)" class='double green'></div>
      <div id='s4' (click)="onClick($event)" class='outer white'></div>
      <div id='t4' (click)="onClick($event)" class='triple green'></div>
      <div id='s4' (click)="onClick($event)" class='inner white'></div>
    </div>
    <div class='sector r63'>
      <div id='d13' (click)="onClick($event)" class='double red'></div>
      <div id='s13' (click)="onClick($event)" class='outer black'></div>
      <div id='t13' (click)="onClick($event)" class='triple red'></div>
      <div id='s13' (click)="onClick($event)" class='inner black'></div>
    </div>
    <div class='sector r81'>
      <div id='d6' (click)="onClick($event)" class='double green'></div>
      <div id='s6' (click)="onClick($event)" class='outer white'></div>
      <div id='t6' (click)="onClick($event)" class='triple green'></div>
      <div id='s6' (click)="onClick($event)" class='inner white'></div>
    </div>
    <div class='sector r99'>
      <div id='d10' (click)="onClick($event)" class='double red'></div>
      <div id='s10' (click)="onClick($event)" class='outer black'></div>
      <div id='t10' (click)="onClick($event)" class='triple red'></div>
      <div id='s10' (click)="onClick($event)" class='inner black'></div>
    </div>
    <div class='sector r117'>
      <div id='d15' (click)="onClick($event)" class='double green'></div>
      <div id='s15' (click)="onClick($event)" class='outer white'></div>
      <div id='t15' (click)="onClick($event)" class='triple green'></div>
      <div id='s15' (click)="onClick($event)" class='inner white'></div>
    </div>
    <div class='sector r135'>
      <div id='d2' (click)="onClick($event)" class='double red'></div>
      <div id='s2' (click)="onClick($event)" class='outer black'></div>
      <div id='t2' (click)="onClick($event)" class='triple red'></div>
      <div id='s2' (click)="onClick($event)" class='inner black'></div>
    </div>
    <div class='sector r153'>
      <div id='d17' (click)="onClick($event)" class='double green'></div>
      <div id='s17' (click)="onClick($event)" class='outer white'></div>
      <div id='t17' (click)="onClick($event)" class='triple green'></div>
      <div id='s17' (click)="onClick($event)" class='inner white'></div>
    </div>
    <div class='sector r171'>
      <div id='d3' (click)="onClick($event)" class='double red'></div>
      <div id='s3' (click)="onClick($event)" class='outer black'></div>
      <div id='t3' (click)="onClick($event)" class='triple red'></div>
      <div id='s3' (click)="onClick($event)" class='inner black'></div>
    </div>
  </div>
</div>
