<div id='miss' class="frame">
  <span class='text'>20</span>
  <span class='text r-18'>5</span>
  <span class='text r-36'>12</span>
  <span class='text r-54'>9</span>
  <span class='text r-72'>14</span>
  <span class='text r-90'>11</span>
  <span class='text r-108'>8</span>
  <span class='text r-126'>16</span>
  <span class='text r-144'>7</span>
  <span class='text r-162'>19</span>
  <span class='text r18'>1</span>
  <span class='text r36'>18</span>
  <span class='text r54'>4</span>
  <span class='text r72'>13</span>
  <span class='text r90'>6</span>
  <span class='text r108'>10</span>
  <span class='text r126'>15</span>
  <span class='text r144'>2</span>
  <span class='text r162'>17</span>
  <span class='text r180'>3</span>
  <div class='table'>
    <div id='s25' class='bull green'></div>
    <div id='d25' class='bullseye red'></div>
    <div class='sector r-171'>
      <div id='d19' class='double green'></div>
      <div id='s19' class='outer white'></div>
      <div id='t19' class='triple green'></div>
      <div id='s19' class='inner white'></div>
    </div>
    <div class='sector r-153'>
      <div id='d7' class='double red'></div>
      <div id='s7' class='outer black'></div>
      <div id='t7' class='triple red'></div>
      <div id='s7' class='inner black'></div>
    </div>
    <div class='sector r-135'>
      <div id='d16' class='double green'></div>
      <div id='s16' class='outer white'></div>
      <div id='t16' class='triple green'></div>
      <div id='s16' class='inner white'></div>
    </div>
    <div class='sector r-117'>
      <div id='d8' class='double red'></div>
      <div id='s8' class='outer black'></div>
      <div id='t8' class='triple red'></div>
      <div id='s8' class='inner black'></div>
    </div>
    <div class='sector r-99'>
      <div id='d11' class='double green'></div>
      <div id='s11' class='outer white'></div>
      <div id='t11' class='triple green'></div>
      <div id='s11' class='inner white'></div>
    </div>
    <div class='sector r-81'>
      <div id='d14' class='double red'></div>
      <div id='s14' class='outer black'></div>
      <div id='t14' class='triple red'></div>
      <div id='s14' class='inner black'></div>
    </div>
    <div class='sector r-63'>
      <div id='d9' class='double green'></div>
      <div id='s9' class='outer white'></div>
      <div id='t9' class='triple green'></div>
      <div id='s9' class='inner white'></div>
    </div>
    <div class='sector r-45'>
      <div id='d12' class='double red'></div>
      <div id='s12' class='outer black'></div>
      <div id='t12' class='triple red'></div>
      <div id='s12' class='inner black'></div>
    </div>
    <div class='sector r-27'>
      <div id='d5' class='double green'></div>
      <div id='s5' class='outer white'></div>
      <div id='t5' class='triple green'></div>
      <div id='s5' class='inner white'></div>
    </div>
    <div class='sector r-9'>
      <div id='d20' class='double red'></div>
      <div id='s20' class='outer black'></div>
      <div id='t20' class='triple red'></div>
      <div id='s20' class='inner black'></div>
    </div>
    <div class='sector r9'>
      <div id='d1' class='double green'></div>
      <div id='s1' class='outer white'></div>
      <div id='t1' class='triple green'></div>
      <div id='s1' class='inner white'></div>
    </div>
    <div class='sector r27'>
      <div id='d18' class='double red'></div>
      <div id='s18' class='outer black'></div>
      <div id='t18' class='triple red'></div>
      <div id='s18' class='inner black'></div>
    </div>
    <div class='sector r45'>
      <div id='d4' class='double green'></div>
      <div id='s4' class='outer white'></div>
      <div id='t4' class='triple green'></div>
      <div id='s4' class='inner white'></div>
    </div>
    <div class='sector r63'>
      <div id='d13' class='double red'></div>
      <div id='s13' class='outer black'></div>
      <div id='t13' class='triple red'></div>
      <div id='s13' class='inner black'></div>
    </div>
    <div class='sector r81'>
      <div id='d6' class='double green'></div>
      <div id='s6' class='outer white'></div>
      <div id='t6' class='triple green'></div>
      <div id='s6' class='inner white'></div>
    </div>
    <div class='sector r99'>
      <div id='d10' class='double red'></div>
      <div id='s10' class='outer black'></div>
      <div id='t10' class='triple red'></div>
      <div id='s10' class='inner black'></div>
    </div>
    <div class='sector r117'>
      <div id='d15' class='double green'></div>
      <div id='s15' class='outer white'></div>
      <div id='t15' class='triple green'></div>
      <div id='s15' class='inner white'></div>
    </div>
    <div class='sector r135'>
      <div id='d2' class='double red'></div>
      <div id='s2' class='outer black'></div>
      <div id='t2' class='triple red'></div>
      <div id='s2' class='inner black'></div>
    </div>
    <div class='sector r153'>
      <div id='d17' class='double green'></div>
      <div id='s17' class='outer white'></div>
      <div id='t17' class='triple green'></div>
      <div id='s17' class='inner white'></div>
    </div>
    <div class='sector r171'>
      <div id='d3' class='double red'></div>
      <div id='s3' class='outer black'></div>
      <div id='t3' class='triple red'></div>
      <div id='s3' class='inner black'></div>
    </div>
  </div>
</div>
