<ul class="list-group">
  <li *ngFor="let player of players; let idx=index" class="list-group-item">
    {{player.name}}<span role="button" class="glyphicon glyphicon-remove pull-right" (click)="removePlayer(idx)"></span>
  </li>
</ul>
<div class="input-group">
    <input type="text" class="form-control" [(ngModel)]="newPlayerName"
        (keyup.enter)="addPlayer()" placeholder="Add players here...">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" (click)="addPlayer()">Add</button>
    </span>
</div>
<div *ngIf="hasError" class="alert alert-danger" role="alert">
  <span>{{newPlayerName}} already added!</span>
</div>
