<mat-list>
  <mat-list-item *ngFor="let player of players; let idx=index">
    <span role="button" class="glyphicon glyphicon-remove pull-right" (click)="removePlayer(idx)"></span>{{player.name}}
  </mat-list-item>
</mat-list>
<div class="input-group">
  <input type="text" class="form-control" [(ngModel)]="newPlayerName"
    (keyup.enter)="addPlayer()" placeholder="Add players here...">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" (click)="addPlayer()">Add</button>
  </span>
</div>
<div *ngIf="hasError" class="alert alert-danger" role="alert">
  <span id="error-msg">{{newPlayerName}} already added!</span>
</div>
<p>Suggested players:</p>
<mat-chip-list>
  <ng-container *ngFor="let cachedPlayer of cachedPlayers">
    <mat-chip *ngIf="!cachedPlayer.isIn(players)" (click)="addCachedPlayer(cachedPlayer)">
      {{cachedPlayer.name}}
    </mat-chip>
  </ng-container>
</mat-chip-list>
